.img {
  width: 500em;
}

@keyframes spinning {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}

.content {
  max-width: 300px;
  margin: auto;
  background: white;
  padding: 10px;
}

.content {
  max-width: 500px;
  margin: auto;
}

.spin {
  animation-name: spinning;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  /* linear | ease | ease-in | ease-out | ease-in-out */
  animation-timing-function: linear;
  width: 50em;
  position: relative;
  right: 8.5em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

p {
  width: 60em;
  font-size: 1em;
  font-family: 'Lora', serif;
  position: relative;
  right: 13em;
}

.body {
}
