.img {
  width: 200em;
}

@keyframes spinning {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}

.content {
  max-width: 300px;
  margin: auto;
  background: white;
  padding: 10px;
}

#snake-1 {
  width: 50em;
  position:relative;
}

#sun {
  width: 5em;
  margin-top: 3em;
  position: relative;
  left: 12em;
}

#sun-2 {
  width: 5em;
  margin-top: 7em;
  position: relative;
  left: 12em;
}

.content {
  max-width: 500px;
  margin: auto;
}

.spin {
  animation-name: spinning;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  /* linear | ease | ease-in | ease-out | ease-in-out */
  animation-timing-function: linear;
  width: 50em;
  position: relative;
  right: 10em;
}

.spin-2 {
  animation-name: spinning;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  /* linear | ease | ease-in | ease-out | ease-in-out */
  animation-timing-function: linear;
  width: 47em;
  position: relative;
  right: 9.6em;
  margin-top: auto;
  top: 5em;
}


.big-main-text {
  font-size: 2.6em;
  position: relative;
  left: 3.4em;
  color: #726633;
}

.para {
  position: relative;
  top: 3em;
}

.para-2 {
  position: relative;
  top: 4em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

p {
  width: 43em;
  font-size: 1em;
  font-family: 'Lora', serif;
  position: relative;
  right: 6em;
  font-family: mundial, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #726633;
}

.body {
}
