.img {
  width: 200em;
}

@keyframes spinning {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}

.body {
  width:50%
  text-align: center;
  position: relative;
}

.grid {
  display: grid;
  place-items: center;
}

.div-center {
  text-align: center;
}

.content {
  max-width: 300px;
  margin:auto;
}

#snake-1 {
  width: 50em;
}

#sun {
  width: 5em;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  transition: box-shadow .3s;
  cursor: pointer;
  border-radius: 50%;
}

#sun-2 {
  width: 5em;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  transition: box-shadow .3s;
  cursor: pointer;
  border-radius: 50%;
}

#sun-2:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

#sun:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.slither {
  width: 30em;
  position: absolute;
  top: 93em;
  right: 68em;
}

.slither-2 {
  width: 30em;
  position: absolute;
  top: 62em;
  left: 65em;
}

.content {
}

.spin {
  animation-name: spinning;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  /* linear | ease | ease-in | ease-out | ease-in-out */
  animation-timing-function: linear;
  width: 50em;
}

.spin-2 {
  animation-name: spinning;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  /* linear | ease | ease-in | ease-out | ease-in-out */
  animation-timing-function: linear;
  width: 47em;

}


.big-main-text {
  font-size: 2.6em;
  color: #726633;
}

.para {
}

.para-2 {
}

.center {
  margin: auto;
  width: 90%;
  border: 3px solid green;
}

h1 {
  width: 17em;
  font-size: 1em;
  font-family: 'Lora', serif;
  font-family: mundial, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #726633;
}


p {
  width: 44em;
  font-size: 1em;
  font-family: 'Lora', serif;
  font-family: mundial, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #726633;
}
